<% include partials/header %>

<div class="container">
    <h1>Sign up here</h1>

    <form action="/register" method="POST">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <button class="btn btn-success">Sign Up</button>
    </form>
</div>


<% include partials/footer %>