
.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .captions-full {
    padding: 10px;
}

.deleteForm {
    /* display delete button on campground show form */
    display: inline;
}